<div id="live-main">
  <mat-toolbar id="live-search">
    <mat-form-field>
      <input matInput placeholder="search">
    </mat-form-field>
    <span class="example-fill-remaining-space"></span>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <table id="live-table">
    <thead>
      <tr id="live-table-header-title">
        <th>Pos</th>
        <th>Player</th>
        <th>Team</th>
        <th>Hole</th>
        <th>R1</th>
        <th>R2</th>
        <th>R3</th>
        <th>R4</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="player-tbody" *ngFor="let datas of data.event.tournament.players.player; let i = index" > 
      <tr>
        <td>{{datas.totals.position}}</td>
        <td>{{datas.firstname}} {{datas.lastname}}</td>
        <td><img src="./assets/img/{{datas.teamname}}.png" title="{{datas.teamname}}"></td>
        <td>Hole</td>
        <td>{{datas.round[0].strokes}}</td>
        <td>{{datas.round[1].strokes}}</td>
        <td>{{datas.round[2].strokes}}</td>
        <td>{{datas.round[3].strokes}}</td>
        <td>{{(datas.round[0].strokes * 1)  + (datas.round[1].strokes * 1) + (datas.round[2].strokes * 1) + (datas.round[3].strokes * 1)}}</td>
      </tr>
    </tbody>
  </table>
</div>

