#live-table{
    font-size: 75%;
    width: 100%;
    border-collapse:collapse;
}

tbody:nth-child(even) {background-color: #adebad}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.roundsPanel{
    width: 100%;
}


.mat-button{
    min-width: 1%;
   
  }

#live-search{
    width: 100%;
}

#live-search mat-form-field{
    width: 45%;
    font-size: 68%;
}

#live-table-header-title{
    height: 40px;
    text-align: center;
    
}

#live-main{
    margin-bottom: 31%;
}

#total_plus{
    color: blue;
}

#total_Even{
    color: red;
}

tr:nth-child(even) {background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#live-table td{
    text-align: center;
}








