<div class="news-card-severity-{{quote.severity}}">
  <mat-list>
    <mat-list-item>
      
      <div class="image-card-severity-{{quote.severity}}">
        <img src="assets/img/{{quote.severity}}.svg">
      </div>
        
      <div>
        <p>{{ quote.content }}</p>
      </div>

  </mat-list-item> 
</mat-list>
<div *ngIf="editing">
    <input type="text" class="input" [(ngModel)]="editValueTitle">
    <input type="text" class="input" [(ngModel)]="editValueContent">
    <input type="text" class="input" [(ngModel)]="editValueSeverity">
    <button mat-button (click)="onUpdate()">Update</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
  <div *ngIf="!editing">
    <button mat-button (click)="onEdit()">Edit</button>
    <button mat-button (click)="onDelete()">Delete</button>
</div>
</div>
