<mat-toolbar class="mat-toolbar-add-info">my app</mat-toolbar>

<mat-accordion class="mat-accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        class="mat-expansion-panel">
    <mat-expansion-panel-header>

    <mat-panel-title>
        Friday 24th August
    </mat-panel-title>

    </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><p>Women's Team Arrivals</p></mat-list-item>
          <mat-list-item role="listitem"><p>Courses are Closed.</p> </mat-list-item>

      </mat-list>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mat-accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        class="mat-expansion-panel">
    <mat-expansion-panel-header>

    <mat-panel-title>
        Saturday 25th August
    </mat-panel-title>

    </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><p>Women's Team Arrivals</p></mat-list-item>
          <mat-list-item role="listitem"><p>Courses are Closed; Practice Facilities will be Open.</p></mat-list-item>
          <mat-list-item role="listitem"><p>Women's Registration  (1000hrs-1800hrs)</p></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mat-accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        class="mat-expansion-panel">
    <mat-expansion-panel-header>

    <mat-panel-title>
        Sunday 26th August 
    </mat-panel-title>

    </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><p>Courses are Closed; Teams can walk courses and Practice Facilities will be Open. </p></mat-list-item>
          <mat-list-item role="listitem"><p>Women's Registration (0800hrs-1800hrs)</p></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mat-accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        class="mat-expansion-panel">
    <mat-expansion-panel-header>

    <mat-panel-title>
        Monday 27th August 
    </mat-panel-title>

    </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><p>Women's Practice Round</p></mat-list-item>
          <mat-list-item role="listitem"><p>Team Captains' Meeting (1600hrs, Carton House Kildare Suites on first floor)</p></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="mat-accordion">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        class="mat-expansion-panel">
    <mat-expansion-panel-header>

    <mat-panel-title>
        Tuesday 28th August
    </mat-panel-title>

    </mat-expansion-panel-header>
      <mat-list role="list">
          <mat-list-item role="listitem"><p>Women's Practice Round</p></mat-list-item>
          <mat-list-item role="listitem"><p>Referee's Meeting (1100hrs, Carton House Kildare Suites on first floor)</p></mat-list-item>
          <mat-list-item role="listitem"><p>Women's Team Photographs (Tyrconnell Room near Carton House courtyard, timetable TBC)</p></mat-list-item>
          <mat-list-item role="listitem"><p>Women's Opening Ceremony, followed by reception (Carton House)</p></mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>
