<mat-expansion-panel *ngFor="let team of team">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{team.team}}
      </mat-panel-title>
      </mat-expansion-panel-header>

      
<div id="team-wrapper">
  <mat-toolbar id="team-header-toolbar">
    <span id="title"> {{team.team}}</span>
    <button id="fav-button" mat-button><mat-icon class="fav">star</mat-icon></button>
  </mat-toolbar>
  <div id="team-header">
    <span>
      <img id="team-image" src="./assets/img/team.jpg">
    </span>
    <mat-card id="score-Info">
      <table>
      <tr>
        <th>Thru</th><td>F</td>
        <th>Today</th><td>-13</td>
        <th>Total</th><td>-38</td>
        <th>Rank</th><td>1</td>
      </tr>
    </table>
    </mat-card>
  </div>
 <mat-divider></mat-divider>
  <div id="team-body">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Round One
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="full-Table">
        <div >
          <table>
            <!-- Header 1/2 -->
            <tr>
              <th>Hole</th>
            </tr>
            <tr>
              <td>Yards</td>
            </tr>
            <tr>
              <td>Par</td>
            </tr>
            <tr>
              <td>Cameron Davis</td>
            </tr>
            <tr>
              <td>Curtis Luck</td>
            </tr>
            <tr>
              <td>Harrison Endycott</td>
            </tr>
            <tr>
              <td>Complete</td>
            </tr>
            <tr>
              <td>Score Against Par</td>
            </tr>
          </table>
        </div>
        <div class="scrolling-wrapper">
          <div id="moving-Table">
            <div class="card">
              <table class="playerScore">
                <tr>
                  <!-- Header 2/2 -->
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>Out</th>
                  <th>11</th>
                  <th>12</th>
                  <th>13</th>
                  <th>14</th>
                  <th>15</th>
                  <th>16</th>
                  <th>17</th>
                  <th>18</th>
                  <th>In</th>
                  <th>Total</th>
                </tr>

                <tr>
                  <!-- Yards -->
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                </tr>

                <tr>
                  <!-- Par  -->
                  <td>4</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>4</td>
                  <td>4</td>
                  <td>3</td>
                  <td>5</td>
                  <td>36</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>5</td>
                  <td>3</td>
                  <td>5</td>
                  <td>4</td>
                  <td>4</td>
                  <td>36</td>
                  <td>72</td>
                </tr>

                <tr>
                  <!-- Player1  -->
                  <td>5</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>3</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>34</td>
                  <td>3</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>33</td>
                  <td>67</td>
                </tr>

                <tr>
                  <!-- Player2  -->
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>5</td>
                  <td>4</td>
                  <td>2</td>
                  <td>5</td>
                  <td>35</td>
                  <td>4</td>
                  <td>2</td>
                  <td>5</td>
                  <td>4</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>34</td>
                  <td>69</td>
                </tr>

                <tr>
                  <!-- Player3  -->
                  <td>4</td>
                  <td>6</td>
                  <td>3</td>
                  <td>3</td>
                  <td>4</td>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                  <td>4</td>
                  <td>33</td>
                  <td>5</td>
                  <td>3</td>
                  <td>5</td>
                  <td>3</td>
                  <td>4</td>
                  <td>3</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                  <td>35</td>
                  <td>68</td>
                </tr>

                <tr>
                  <!-- Round  -->
                  <td>9</td>
                  <td>10</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>6</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>67</td>
                  <td>8</td>
                  <td>6</td>
                  <td>9</td>
                  <td>7</td>
                  <td>8</td>
                  <td>6</td>
                  <td>8</td>
                  <td>8</td>
                  <td>8</td>
                  <td>68</td>
                  <td>135</td>
                </tr>

                <tr>
                  <!-- Score Against Par  -->
                  <td>-3</td>
                  <td>-1</td>
                  <td>-1</td>
                  <td>-2</td>
                  <td>-4</td>
                  <td>-6</td>
                  <td>-8</td>
                  <td>-7</td>
                  <td>-9</td>
                  <td></td>
                  <td>E</td>
                  <td>E</td>
                  <td>+1</td>
                  <td>E</td>
                  <td>-2</td>
                  <td>-2</td>
                  <td>-4</td>
                  <td>-4</td>
                  <td>-4</td>
                  <td></td>
                  <td>-9</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Round Two
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="full-Table">
        <div id="static-Table">
          <table>
            <!-- Header 1/2 -->
            <tr>
              <th>Hole</th>
            </tr>
            <tr>
              <td>Yards</td>
            </tr>
            <tr>
              <td>Par</td>
            </tr>
            <tr>
              <td>Cameron Davis</td>
            </tr>
            <tr>
              <td>Curtis Luck</td>
            </tr>
            <tr>
              <td>Harrison Endycott</td>
            </tr>
            <tr>
              <td>Complete</td>
            </tr>
            <tr>
              <td>Score Against Par</td>
            </tr>
          </table>
        </div>
        <div class="scrolling-wrapper">
          <div id="moving-Table">
            <div class="card">
              <table class="playerScore">
                <tr>
                  <!-- Header 1/2 -->
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>Out</th>
                  <th>11</th>
                  <th>12</th>
                  <th>13</th>
                  <th>14</th>
                  <th>15</th>
                  <th>16</th>
                  <th>17</th>
                  <th>18</th>
                  <th>In</th>
                  <th>Total</th>
                </tr>

                <tr>
                  <!-- Yards -->
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                </tr>

                <tr>
                  <!-- Par  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player1  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player2  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player3  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Round  -->
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Score Against Par  -->
                  <td>7</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Round Three
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="full-Table">
        <div id="static-Table">
          <table>
            <!-- Header 1/2 -->
            <tr>
              <th>Hole</th>
            </tr>
            <tr>
              <td>Yards</td>
            </tr>
            <tr>
              <td>Par</td>
            </tr>
            <tr>
              <td>Cameron Davis</td>
            </tr>
            <tr>
              <td>Curtis Luck</td>
            </tr>
            <tr>
              <td>Harrison Endycott</td>
            </tr>
            <tr>
              <td>Complete</td>
            </tr>
            <tr>
              <td>Score Against Par</td>
            </tr>
          </table>
        </div>
        <div class="scrolling-wrapper">
          <div id="moving-Table">
            <div class="card">
              <table class="playerScore">
                <tr>
                  <!-- Header 1/2 -->
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>Out</th>
                  <th>11</th>
                  <th>12</th>
                  <th>13</th>
                  <th>14</th>
                  <th>15</th>
                  <th>16</th>
                  <th>17</th>
                  <th>18</th>
                  <th>In</th>
                  <th>Total</th>
                </tr>

                <tr>
                  <!-- Yards -->
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                </tr>

                <tr>
                  <!-- Par  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player1  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player2  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player3  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Round  -->
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Score Against Par  -->
                  <td>7</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Round Four
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="full-Table">
        <div id="static-Table">
          <table>
            <!-- Header 1/2 -->
            <tr>
              <th>Hole</th>
            </tr>
            <tr>
              <td>Yards</td>
            </tr>
            <tr>
              <td>Par</td>
            </tr>
            <tr>
              <td>Cameron Davis</td>
            </tr>
            <tr>
              <td>Curtis Luck</td>
            </tr>
            <tr>
              <td>Harrison Endycott</td>
            </tr>
            <tr>
              <td>Complete</td>
            </tr>
            <tr>
              <td>Score Against Par</td>
            </tr>
          </table>
        </div>
        <div class="scrolling-wrapper">
          <div id="moving-Table">
            <div class="card">
              <table class="playerScore">
                <tr>
                  <!-- Header 1/2 -->
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                  <th>7</th>
                  <th>8</th>
                  <th>9</th>
                  <th>10</th>
                  <th>Out</th>
                  <th>11</th>
                  <th>12</th>
                  <th>13</th>
                  <th>14</th>
                  <th>15</th>
                  <th>16</th>
                  <th>17</th>
                  <th>18</th>
                  <th>In</th>
                  <th>Total</th>
                </tr>

                <tr>
                  <!-- Yards -->
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                  <td>400</td>
                </tr>

                <tr>
                  <!-- Par  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player1  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player2  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Player3  -->
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Round  -->
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>

                <tr>
                  <!-- Score Against Par  -->
                  <td>7</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                  <td>6</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <div id="team-footer">


    </div>
  </div>
  </div>