<div *ngIf="!hideTeam">
    <mat-list role="list"  *ngFor="let teamdata of data.event.tournament.teams.team">
        <mat-list-item role="listitem" (click)="mainProfiles = (teamdata.name); hideTeam = !hideTeam">
      
          <span>{{teamdata.name}}</span>
      
        </mat-list-item>
        <mat-divider></mat-divider>
        </mat-list>
  </div>
  <div *ngIf="hideTeam">
      <mat-toolbar id="team-header-toolbar">
          <span id="title">
            <span>
                <mat-icon (click)="hideTeam = !hideTeam; hideScore = !hideScore" >arrow_back</mat-icon>
            </span>
            {{mainProfiles}}
            <button id="fav-button" mat-button>
              <mat-icon class="fav">star</mat-icon>
            </button>
          </span>
        </mat-toolbar>
    <div id="team-header">
      <span>
          <span>
              <img id="team-image" class="thumbnail-image" src="http://watc.bookgolf365.ie/images/{{mainProfiles | lowercase}}.png"/>
          </span>
      </span>
     
      <!-- <mat-card id="score-Info"> -->
      <!-- <table> -->
      <!-- <tr *ngFor="let teams of data.event.tournament.teams.team">
              
              <ng-container *ngIf="teams.name == mainProfiles"> -->
      <!-- <tr>
            <th>Thru</th>test
            <th>Today</th>null
            <th>Total</th>test
            <th>Rank</th>test -->
      <!-- </ng-container> -->
      <!-- </tr>
        </table>
      </mat-card> -->
    </div>
    <div class="scroll-main">
      <div class="scroll-child">
  
        <!-- Round one -->
        
        <mat-expansion-panel id="team-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
                  <td>Round One</td>
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <div id="staticTable">
            <table>
              <thead>
                <tr>
                  <th>Holes</th>
                </tr>
              </thead>
              <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                <ng-container *ngIf="playerdata.teamname == mainProfiles">
                  <tr *ngIf="playerdata.totals.status == 'ok'">
                    <td (click)="hideTeam = !hideTeam; hidePlayer = !hidePlayer; teamProfiles = [playerdata.teamname]; playerProfilesFirst = [playerdata.firstname]; playerProfilesLast = [playerdata.lastname]">{{playerdata.firstname}} {{playerdata.lastname}}</td>
                  </tr>
  
                </ng-container>
              </tbody>
  
            </table>
          </div>
          <div id="scrollingTable">
            <div class="scrollingCard">
              <table>
                <thead>
                  <tr>
                    <th>01</th>
                    <th>02</th>
                    <th>03</th>
                    <th>04</th>
                    <th>05</th>
                    <th>06</th>
                    <th>07</th>
                    <th>08</th>
                    <th>09</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td *ngFor="let loop of [0,1,2,3,4,5,6,7,8]">{{playerdata.round[0].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[0].score[0].strokes * 1) + (playerdata.round[0].score[1].strokes * 1) + (playerdata.round[0].score[2].strokes
                        * 1) + (playerdata.round[0].score[3].strokes * 1) + (playerdata.round[0].score[4].strokes * 1) + (playerdata.round[0].score[5].strokes
                        * 1) + (playerdata.round[0].score[6].strokes * 1) + (playerdata.round[0].score[7].strokes * 1) + (playerdata.round[0].score[8].strokes
                        * 1)}}</td>
                      <td *ngFor="let loop of [9,10,11,12,13,14,15,16,17]">{{playerdata.round[0].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[0].score[9].strokes * 1) + (playerdata.round[0].score[10].strokes * 1) + (playerdata.round[0].score[11].strokes
                        * 1) + (playerdata.round[0].score[12].strokes * 1) + (playerdata.round[0].score[13].strokes * 1) +
                        (playerdata.round[0].score[14].strokes * 1) + (playerdata.round[0].score[15].strokes * 1) + (playerdata.round[0].score[17].strokes
                        * 1) + (playerdata.round[0].score[17].strokes * 1)}}</td>
                      <td id="total">{{(playerdata.round[0].score[0].strokes * 1) + (playerdata.round[0].score[1].strokes * 1) + (playerdata.round[0].score[2].strokes
                        * 1) + (playerdata.round[0].score[3].strokes * 1) + (playerdata.round[0].score[4].strokes * 1) + (playerdata.round[0].score[5].strokes
                        * 1) + (playerdata.round[0].score[6].strokes * 1) + (playerdata.round[0].score[7].strokes * 1) + (playerdata.round[0].score[8].strokes
                        * 1) + (playerdata.round[0].score[9].strokes * 1) + (playerdata.round[0].score[10].strokes * 1) + (playerdata.round[0].score[11].strokes
                        * 1) + (playerdata.round[0].score[12].strokes * 1) + (playerdata.round[0].score[13].strokes * 1) +
                        (playerdata.round[0].score[14].strokes * 1) + (playerdata.round[0].score[15].strokes * 1) + (playerdata.round[0].score[16].strokes
                        * 1) + (playerdata.round[0].score[17].strokes * 1)}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- </div> -->
        <!-- </mat-card> -->
  
        <!-- Round Two -->
        <mat-expansion-panel id="team-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
               
              Round Two
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div id="staticTable">
            <table>
              <thead>
                <tr>
                  <th>Holes</th>
                </tr>
              </thead>
              <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td (click)="hideTeam = !hideTeam; hidePlayer = !hidePlayer; teamProfiles = [playerdata.teamname]; playerProfilesFirst = [playerdata.firstname]; playerProfilesLast = [playerdata.lastname]">{{playerdata.firstname}} {{playerdata.lastname}}</td>
                    </tr>
    
                  </ng-container>
                </tbody>
  
            </table>
          </div>
          <div id="scrollingTable">
            <div class="scrollingCard">
              <table>
                <thead>
                  <tr>
                    <th>01</th>
                    <th>02</th>
                    <th>03</th>
                    <th>04</th>
                    <th>05</th>
                    <th>06</th>
                    <th>07</th>
                    <th>08</th>
                    <th>09</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td *ngFor="let loop of [0,1,2,3,4,5,6,7,8]">{{playerdata.round[1].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[1].score[0].strokes * 1) + (playerdata.round[1].score[1].strokes * 1) + (playerdata.round[1].score[2].strokes
                        * 1) + (playerdata.round[1].score[3].strokes * 1) + (playerdata.round[1].score[4].strokes * 1) + (playerdata.round[1].score[5].strokes
                        * 1) + (playerdata.round[1].score[6].strokes * 1) + (playerdata.round[1].score[7].strokes * 1) + (playerdata.round[1].score[8].strokes
                        * 1)}}</td>
                      <td *ngFor="let loop of [9,10,11,12,13,14,15,16,17]">{{playerdata.round[1].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[1].score[9].strokes * 1) + (playerdata.round[1].score[10].strokes * 1) + (playerdata.round[1].score[11].strokes
                        * 1) + (playerdata.round[1].score[12].strokes * 1) + (playerdata.round[1].score[13].strokes * 1) +
                        (playerdata.round[1].score[14].strokes * 1) + (playerdata.round[1].score[15].strokes * 1) + (playerdata.round[1].score[17].strokes
                        * 1) + (playerdata.round[1].score[17].strokes * 1)}}</td>
                      <td id="total">{{(playerdata.round[1].score[0].strokes * 1) + (playerdata.round[1].score[1].strokes * 1) + (playerdata.round[1].score[2].strokes
                        * 1) + (playerdata.round[1].score[3].strokes * 1) + (playerdata.round[1].score[4].strokes * 1) + (playerdata.round[1].score[5].strokes
                        * 1) + (playerdata.round[1].score[6].strokes * 1) + (playerdata.round[1].score[7].strokes * 1) + (playerdata.round[1].score[8].strokes
                        * 1) + (playerdata.round[1].score[9].strokes * 1) + (playerdata.round[1].score[10].strokes * 1) + (playerdata.round[1].score[11].strokes
                        * 1) + (playerdata.round[1].score[12].strokes * 1) + (playerdata.round[1].score[13].strokes * 1) +
                        (playerdata.round[1].score[14].strokes * 1) + (playerdata.round[1].score[15].strokes * 1) + (playerdata.round[1].score[16].strokes
                        * 1) + (playerdata.round[1].score[17].strokes * 1)}}</td>
  
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
  
  
        <!-- Round three -->
        <mat-expansion-panel id="team-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Round Three
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div id="staticTable">
            <table>
              <thead>
                <tr>
                  <th>Holes</th>
                </tr>
              </thead>
              <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td (click)="hideTeam = !hideTeam; hidePlayer = !hidePlayer; teamProfiles = [playerdata.teamname]; playerProfilesFirst = [playerdata.firstname]; playerProfilesLast = [playerdata.lastname]">{{playerdata.firstname}} {{playerdata.lastname}}</td>
                    </tr>
    
                  </ng-container>
                </tbody>
  
            </table>
          </div>
          <div id="scrollingTable">
            <div class="scrollingCard">
              <table>
                <thead>
                  <tr>
                    <th>01</th>
                    <th>02</th>
                    <th>03</th>
                    <th>04</th>
                    <th>05</th>
                    <th>06</th>
                    <th>07</th>
                    <th>08</th>
                    <th>09</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td *ngFor="let loop of [0,1,2,3,4,5,6,7,8]">{{playerdata.round[2].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[2].score[0].strokes * 1) + (playerdata.round[2].score[1].strokes * 1) + (playerdata.round[2].score[2].strokes
                        * 1) + (playerdata.round[2].score[3].strokes * 1) + (playerdata.round[2].score[4].strokes * 1) + (playerdata.round[2].score[5].strokes
                        * 1) + (playerdata.round[2].score[6].strokes * 1) + (playerdata.round[2].score[7].strokes * 1) + (playerdata.round[2].score[8].strokes
                        * 1)}}</td>
                      <td *ngFor="let loop of [9,10,11,12,13,14,15,16,17]">{{playerdata.round[2].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[2].score[9].strokes * 1) + (playerdata.round[2].score[10].strokes * 1) + (playerdata.round[2].score[11].strokes
                        * 1) + (playerdata.round[2].score[12].strokes * 1) + (playerdata.round[2].score[13].strokes * 1) +
                        (playerdata.round[2].score[14].strokes * 1) + (playerdata.round[2].score[15].strokes * 1) + (playerdata.round[2].score[17].strokes
                        * 1) + (playerdata.round[2].score[17].strokes * 1)}}</td>
                      <td id="total">{{(playerdata.round[2].score[0].strokes * 1) + (playerdata.round[2].score[1].strokes * 1) + (playerdata.round[2].score[2].strokes
                        * 1) + (playerdata.round[2].score[3].strokes * 1) + (playerdata.round[2].score[4].strokes * 1) + (playerdata.round[2].score[5].strokes
                        * 1) + (playerdata.round[2].score[6].strokes * 1) + (playerdata.round[2].score[7].strokes * 1) + (playerdata.round[2].score[8].strokes
                        * 1) + (playerdata.round[2].score[9].strokes * 1) + (playerdata.round[2].score[10].strokes * 1) + (playerdata.round[2].score[11].strokes
                        * 1) + (playerdata.round[2].score[12].strokes * 1) + (playerdata.round[2].score[13].strokes * 1) +
                        (playerdata.round[2].score[14].strokes * 1) + (playerdata.round[2].score[15].strokes * 1) + (playerdata.round[2].score[16].strokes
                        * 1) + (playerdata.round[2].score[17].strokes * 1)}}</td>
  
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
  
        <!-- Round Four -->
  
        <mat-expansion-panel id="team-expansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
                Round Four
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div id="staticTable">
            <table>
              <thead>
                <tr>
                  <th>Holes</th>
                </tr>
              </thead>
              <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td (click)="hideTeam = !hideTeam; hidePlayer = !hidePlayer; teamProfiles = [playerdata.teamname]; playerProfilesFirst = [playerdata.firstname]; playerProfilesLast = [playerdata.lastname]">{{playerdata.firstname}} {{playerdata.lastname}}</td>
                    </tr>
    
                  </ng-container>
                </tbody>
  
            </table>
          </div>
          <div id="scrollingTable">
            <div class="scrollingCard">
              <table>
                <thead>
                  <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody *ngFor="let playerdata of data.event.tournament.players.player; let i = index">
                  <ng-container *ngIf="playerdata.teamname == mainProfiles">
                    <tr *ngIf="playerdata.totals.status == 'ok'">
                      <td *ngFor="let loop of [0,1,2,3,4,5,6,7,8]">{{playerdata.round[3].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[3].score[0].strokes * 1) + (playerdata.round[3].score[1].strokes * 1) + (playerdata.round[3].score[2].strokes
                        * 1) + (playerdata.round[3].score[3].strokes * 1) + (playerdata.round[3].score[4].strokes * 1) + (playerdata.round[3].score[5].strokes
                        * 1) + (playerdata.round[3].score[6].strokes * 1) + (playerdata.round[3].score[7].strokes * 1) + (playerdata.round[3].score[8].strokes
                        * 1)}}</td>
                      <td *ngFor="let loop of [9,10,11,12,13,14,15,16,17]">{{playerdata.round[3].score[loop].strokes}}</td>
                      <td id="total">{{(playerdata.round[3].score[9].strokes * 1) + (playerdata.round[3].score[10].strokes * 1) + (playerdata.round[3].score[11].strokes
                        * 1) + (playerdata.round[3].score[12].strokes * 1) + (playerdata.round[3].score[13].strokes * 1) +
                        (playerdata.round[3].score[14].strokes * 1) + (playerdata.round[3].score[15].strokes * 1) + (playerdata.round[3].score[17].strokes
                        * 1) + (playerdata.round[3].score[17].strokes * 1)}}</td>
                      <td id="total">{{(playerdata.round[3].score[0].strokes * 1) + (playerdata.round[3].score[1].strokes * 1) + (playerdata.round[3].score[2].strokes
                        * 1) + (playerdata.round[3].score[3].strokes * 1) + (playerdata.round[3].score[4].strokes * 1) + (playerdata.round[3].score[5].strokes
                        * 1) + (playerdata.round[3].score[6].strokes * 1) + (playerdata.round[3].score[7].strokes * 1) + (playerdata.round[3].score[8].strokes
                        * 1) + (playerdata.round[3].score[9].strokes * 1) + (playerdata.round[3].score[10].strokes * 1) + (playerdata.round[3].score[11].strokes
                        * 1) + (playerdata.round[3].score[12].strokes * 1) + (playerdata.round[3].score[13].strokes * 1) +
                        (playerdata.round[3].score[14].strokes * 1) + (playerdata.round[3].score[15].strokes * 1) + (playerdata.round[3].score[16].strokes
                        * 1) + (playerdata.round[3].score[17].strokes * 1)}}</td>
  
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
        </div>
        </div>
        </div>
        