<mat-toolbar class="mat-toolbar-add-info">my app</mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>About </mat-card-title>
      <mat-card-subtitle>World Amatuer Team Championships</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="assets/img/cartonHouse2.jpg" alt="Photo of a Shiba Inu" >
    <mat-card-content class="mat-card-content">
      <h3>About WATC 2018 in Ireland</h3>
      <p>
          The Golfing Union of Ireland (GUI) and the Irish Ladies Golfing Union (ILGU) will host the 2018 World Amateur Team Championships - with the Epsirito Santo Trophy (women) being competed for from Wednesday 29th August until Saturday 1st September and the Eisenhower Trophy (men) being competed for from Wednesday 5th September until Saturday 8th September. The two events will be staged at Carton House, where players will be tested on the world-famous O’Meara and Montgomerie courses . The Championships together represent an international festival of golf, during which time a Championship Gala Dinner for all participants will be staged at Maynooth University and the Biennial Meeting of the International Golf Federation will be held in Carton House on Monday 3rd September.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
