

.header-toolbar {
    background-color: #D8D8D8;
    width: 100%;
  }

.header-toolbar mat-icon{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
  #ILGU-logo{
   width: 150%;
   height: 150%;
  
  }
#GUI2-logo{
  width: 42%;
  height: 42%;
  margin-left: 6%;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-button{
    min-width: 1%;
    width: 100%;
}