<div id="toolbar-wrapper">
  <mat-toolbar class="header-toolbar">
    <div id="header-logos">
      <span><mat-icon><img src="./assets/img/ILGU.png"></mat-icon></span>
      <span><mat-icon><img src="./assets/img/ILGU.png"></mat-icon></span>
    </div>
    <span class="example-fill-remaining-space"></span>
    <span>
      <button type="button" mat-button routerLink="add-info">
          <i class="material-icons md-dark md-inactive">info_outline</i>
      </button>
    </span>
  </mat-toolbar>
<mat-toolbar id="header-toolbar">
<span><mat-icon><img src="./assets/img/ILGU.png" id="ILGU-logo"></mat-icon></span>
<span><mat-icon><img src="./assets/img/GUI2.png" id="GUI2-logo"></mat-icon></span>
<span><button id="Info-button" type="button" mat-button routerLink="add-info"><mat-icon>info_outline</mat-icon></button></span>
</mat-toolbar>
