
<!-- <mat-toolbar id="transport-toolbar">
    <mat-form-field id="location-field">
        <mat-select placeholder="Choose an Area" [(value)]="mainSelected">
            <mat-option value="Carton House" class="mat-select">Carton House</mat-option>
            <mat-option value="Maynooth University" class="mat-select">Maynooth University</mat-option>
        </mat-select>
    </mat-form-field>

    <span class="example-fill-remaining-space"></span>

    <mat-form-field class="stop-field" *ngIf="mainSelected == 'Carton House'">
            <mat-placeholder>Choose a location</mat-placeholder>
        <mat-select [(value)]="CartonSelected">
            <mat-option value="National Academy" class="mat-select">National Academy</mat-option>
            <mat-option value="Hotel Reception" class="mat-select">Hotel Reception</mat-option>
            <mat-option value="Club House Roundabout" class="mat-select">Club House Roundabout</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="stop-field" *ngIf="mainSelected == 'Maynooth University'">
            <mat-placeholder >Choose a location</mat-placeholder>
         <mat-select [(value)]="MaynoothSelected">
            <mat-option value="North Campus Apartment Complex" class="mat-select">North Campus Apartment Complex</mat-option>
            <mat-option value="Nort Campus Phonenix Restaurant" class="mat-select">North Campus Phonenix Restaurant</mat-option>
            <mat-option value="North Campus Pedestrian crossing" class="mat-select">North Campus Pedestrian crossing</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>

<agm-map *ngIf="mainSelected == 'Carton House'" [latitude]="Cartondefaultlat" [longitude]="Cartondefaultlng" [zoom]="zoom"
    [mapTypeId]="'hybrid'" disableDefaultUI="true">

    <agm-marker *ngIf="mainSelected == 'Carton House' && CartonSelected == null" [latitude]="Cartondefaultlat" [longitude]="Cartondefaultlng"></agm-marker>

    <div *ngIf="CartonSelected == 'National Academy'">
        <agm-marker [latitude]="NationalAcademylat" [longitude]="NationalAcademylng" ></agm-marker>
    </div>

    <div *ngIf="CartonSelected == 'Hotel Reception'">
        <agm-marker [latitude]="HotelReceptionlat" [longitude]="HotelReceptionlng"></agm-marker>
    </div>

    <div *ngIf="CartonSelected == 'Club House Roundabout'">
        <agm-marker [latitude]="ClubHouseRoundaboutlat" [longitude]="ClubHouseRoundaboutlng"></agm-marker>
    </div>
</agm-map>

<agm-map *ngIf="mainSelected == 'Maynooth University'" [latitude]="MaynoothDefaultlat" [longitude]="MaynoothDefaultlng" [zoom]="zoom"
    [mapTypeId]="'hybrid'" disableDefaultUI="true">

    <agm-marker *ngIf="mainSelected == 'Maynooth University' && MaynoothSelected == null" [latitude]="MaynoothDefaultlat" [longitude]="MaynoothDefaultlng"></agm-marker>

    <div *ngIf="MaynoothSelected == 'North Campus Apartment Complex'">
        <agm-marker [latitude]="ApartmentComplexlat" [longitude]="ApartmentComplexlng"></agm-marker>
    </div>
    <div *ngIf="MaynoothSelected == 'Nort Campus Phonenix Restaurant'">
        <agm-marker [latitude]="PhoenixRestaurantlat" [longitude]="PhoenixRestaurantlng"></agm-marker>
    </div>
    <div *ngIf="MaynoothSelected == 'North Campus Pedestrian crossing'">
        <agm-marker [latitude]="PedestrianCrosslat" [longitude]="PedestrianCrosslng"></agm-marker>
    </div>
</agm-map> -->

<iframe width="640" height="360" src="https://gaming.youtube.com/embed/live_stream?autoplay=1&controls=0&showinfo=0&autohide=1&channel=UCImGQwk9qTNjwhhdzzTKIdg"  autoplay=true frameborder="0"></iframe>

    <!-- <div id="twitchStream">
                <iframe
                src="http://player.twitch.tv/?channel=Patrickbookgolf&muted=true"
                height="720"
                width="1280"
                frameborder="1"
                scrolling="no"
                allowfullscreen="false">
            </iframe>
    </div> -->
    <div>

    
<mat-table #table [dataSource]="dataSource" id="timetable">

    <ng-container matColumnDef="bus">
        <mat-header-cell *matHeaderCellDef> Bus </mat-header-cell>
        <mat-cell @fade *matCellDef="let bus"> {{bus.position}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="times">
        <mat-header-cell *matHeaderCellDef> Times </mat-header-cell>
        <mat-cell @fade *matCellDef="let times"> {{times.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>