.stop-field, #location-field{
    width: 45%;
    font-size: 68%;
}

agm-map{
    height: 200px;
    width: 100%;
}

#timetable{
    text-align: center;
}


#tabs{
    text-align: center;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }



iframe{
    max-width:  99% !important;
    max-height: 50% !important;
}