.stop-field, #location-field{
    width: 45%;
    font-size: 70%;
}

agm-map{
    height: 200px;
    width: 100%;
}

#timetable{
    text-align: center;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
  }

