
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h3>Contact Us</h3></mat-card-title>
      <mat-card-subtitle>World Amatuer Team Championships</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile>
            <i class="material-icons">phone</i>
            <h3>Telephone</h3>
          </mat-grid-tile>
          
          <mat-grid-tile>
              <i class="material-icons">email</i>
            <h3>Email</h3>
          </mat-grid-tile>

          <mat-grid-tile>
              <a  class="para"href="tel:+123 123456789">+123 123456789</a>
          </mat-grid-tile>

          <mat-grid-tile>
              <a class="para" href="mailto:info@watc2018.ie" target="_top">info@watc2018.ie</a>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>

    <mat-card-content class="mat-card-content-head">
      
          <h3>Address</h3>
          <p>Carton Demesne,
              Maynooth,
              County Kildare,
              ​Ireland
          </p>
        </mat-card-content>

    <mat-card-content id="contactCard">
        <mat-grid-list cols="3" rowHeight="1.5:1">
          <mat-grid-tile>

            <a href="https://www.facebook.com/golfingunionofireland/ ">
              <img class="socialImage" src="/assets/img/facebook.png" >
            </a>
          </mat-grid-tile>

          <mat-grid-tile>

              <a href="https://www.facebook.com/golfingunionofireland/ ">
                <img class="socialImage" src="/assets/img/instagram.png" >
              </a>
            </mat-grid-tile>

          <mat-grid-tile>
            <a href="https://twitter.com/guigolf?lang=en">
              <img class="socialImage" src="/assets/img/twitter.png">
            </a>
        </mat-grid-tile>
      </mat-grid-list>    
    </mat-card-content>


  </mat-card>
