#headerImg img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#weather-toolbar{
    background-color: #5cd65c;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  background: #76b852;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.compass-img{
   width: 245%;
   height: 245%;
}

.wind-small{
    font-size: 70%;
}

.up{
    color:blue;
}

.down{
    color: red;
}
.flex-item{
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
}

.flex-temp .small{
    font-size: 70%;
   
}
   
#wind{
    font-size: 80%;
    width: 70%;
    text-align: center;
}
#direction{
    float: right;
}
#forecast{
    vertical-align: middle;
    font-size: 165%;
}

.mat-item-img{
    height: 200%;
    width: 33%;
    margin-left: -50px;
}
.mat-item-content{
    margin-left: 30px;
}
.mat-item-para{
    height: 30%;
}

.weather_child{
    font-size: 160%;
   
}

.weather_card{
    margin-bottom: 3%;
}

