  <div id="headerImg">
    <img src="./assets/img/WATC.jpg">
  </div>
  
  <mat-toolbar id="weather-toolbar">
    <div id="forecast">
      <span>
        {{weather.main.temp | number:'1.0-0'}}&deg;c
      </span>
      
    </div>

    <div id="wind">
      <!-- make button to change to fareinhit -->
      <span>Wind: {{weather.wind.speed | number:'1.0-0'}} km/h</span>
      <div id="direction">
        <span *ngIf="weather.wind.deg >= 0 && weather.wind.deg <= 22.50">
          North
        </span>
        <div *ngIf="weather.wind.deg > 22.50 && weather.wind.deg <= 67.50">
          North-East
        </div>
        <span *ngIf="weather.wind.deg > 67.50 && weather.wind.deg <= 112.50">
          East
        </span>
        <span *ngIf="weather.wind.deg > 112.50 && weather.wind.deg <= 157.50">
          South-East
        </span>
        <span *ngIf="weather.wind.deg > 157.50 && weather.wind.deg <= 202.50">
          South
        </span>
        <span *ngIf="weather.wind.deg > 202.50 && weather.wind.deg <= 247.50">
          South-West
        </span>
        <span *ngIf="weather.wind.deg > 247.50 && weather.wind.deg <= 292.50">
          West
        </span>
        <span *ngIf="weather.wind.deg > 292.50 && weather.wind.deg <= 337.50">
          North-West
        </span>
        <span *ngIf="weather.wind.deg > 337.50 &&weather.wind.deg <= 360">
          North
        </span>
      </div>
    </div>
  </mat-toolbar>


<div class="horizontal-scroll-wrapper">
  <mat-grid-list cols="3" rowHeight="1:1" class="mat-grid-head">
    <!-- need to put sum style here -->
    <mat-grid-tile class="mat-grid-tile" class="mat-elevation-z4">
        <h3>Head</h3>
    <mat-divider></mat-divider>

    <span>body</span>

    </mat-grid-tile>

    <mat-grid-tile class="mat-grid-tile" class="mat-elevation-z4">
        <h3>Head</h3>
      <mat-divider></mat-divider>
    
      <span>body</span>
    </mat-grid-tile>

    <mat-grid-tile class="mat-grid-tile" class="mat-elevation-z4">
        <h3>Head</h3>
    <mat-divider></mat-divider>

        <span>body</span>
      
    </mat-grid-tile>
  </mat-grid-list>
</div>

