body{
    overflow-x: hidden;
}
#headerImg img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#weather-toolbar{
    background-color: #44bd32;
}
#wind{
    font-size: 80%;
    width: 70%;
    text-align: center;
   
}
#direction{
    float: right;
}
#forecast{
    vertical-align: middle;
    font-size: 165%;
}
.news-content-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; 
}
.home-mat-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.card-image{
    height: 20%;
    width: 33%;
}
.home-card-img{
    height: 100%;
    width: 100%;
}
.mat-card-content{
    flex-direction: column;
    margin-left: 6%;
}

