<mat-toolbar></mat-toolbar>
<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile>
      <img src="assets/img/WAGC.png" class="carton-house-image"/>
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar>Weather Icons, temp </mat-toolbar>


<mat-grid-list cols="1" rowHeight="2:1"> <!-- need to put sum style here -->
  <mat-grid-tile>
          <mat-list>
                  <mat-list-item class="mat-item">Item 1</mat-list-item>
                  <mat-divider class="list-divider"></mat-divider>
                  <mat-list-item class="mat-item">Item 2</mat-list-item>
                  <mat-list-item class="mat-item">Item 3</mat-list-item>
                  
          </mat-list>
                
  </mat-grid-tile>
</mat-grid-list>
<mat-divider class="list-divider"></mat-divider>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
      <p>Section 3</p>
  </mat-grid-tile> 
  
  <mat-grid-tile>
     <p>Section 3</p>
  </mat-grid-tile> 
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
      <p>Footer</p>
  </mat-grid-tile>
</mat-grid-list>