.mat-button{
  min-width: 1%;
  width: 100%;
}
.app-toolbar{
    background-color: #ebebe0;
    height: 40px;
    width: 100%;
    text-align: center;
    position: fixed; 
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
.material-icons.md-dark { color: #d6d6c2; }
.material-icons.md-dark.md-inactive { color: black; }

.header-toolbar {
    background-color: #5cd65c;
    height: 40px;
    width: 100%;
  }
<<<<<<< HEAD:src/app/components/navigation/nav/navigation.component.scss
=======

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  #header-logos img{
    width: 100%;
    height: 100%;
  }

  #header-logos mat-icon{
    width: 15%;
    height: 15%;
    vertical-align: middle;
  }
>>>>>>> 88301a2178b542cc723bdd6c4fb88c8033f678c1:src/app/components/navigation/navigation.component.scss
