<div id="nav-wrapper">
  <mat-toolbar class="app-toolbar">
  <button type="button" mat-button routerLink="">
    <i class="material-icons md-dark">home</i>
  </button>


  <button type="button" mat-button routerLink="live-score">
    <i class="material-icons md-dark">assessment</i>
  </button>

  <button type="button" mat-button routerLink="events">
    <i class="material-icons md-dark md-inactive">event_note</i>
  </button>

  <button type="button" mat-button routerLink="geo-location">
    <i class="material-icons md-dark md-inactive">location_on</i>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>