.app-toolbar{
    position: fixed; 
    bottom: 0;
    background-color: #5cd65c;
    height: 40px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
.material-icons.md-dark { color: black; }
// .material-icons.md-dark.md-inactive { color: black; }

 
