<app-toolbar></app-toolbar>



<router-outlet></router-outlet>


<mat-toolbar class="app-toolbar">
  <button type="button" mat-button routerLink="">
    <i class="material-icons md-dark">home</i>
  </button>


  <button type="button" mat-button routerLink="live-score">
    <i class="material-icons md-dark">flag</i>
  </button>

  <button type="button" mat-button routerLink="transport">
    <i class="material-icons md-dark md-inactive">directions_bus</i>
  </button>

  <button type="button" mat-button routerLink="geolocation">
    <i class="material-icons md-dark md-inactive">location_on</i>
  </button>

</mat-toolbar>




