<!-- <div id="event-main" >
  
  <div id="event-child" *ngFor="let yelp of yelp.businesses">
  <mat-toolbar id="head-toolbar">
    <div id="name">
      {{yelp.name}}
    </div>
    <div id="star-img">
      <span *ngIf="yelp.rating >= 1 && yelp.rating <= 1.5">
        <img src="./assets/img/1star.png">
      </span>
      <span *ngIf="yelp.rating >= 2 && yelp.rating <= 2.5">
        <img src="./assets/img/2star.png">
      </span>
      <span *ngIf="yelp.rating >= 3 && yelp.rating <= 3.5">
        <img src="./assets/img/3star.png">
      </span>
      <span *ngIf="yelp.rating >= 4 && yelp.rating <= 4.5">
        <img src="./assets/img/4star.png">
      </span>
      <span *ngIf="yelp.rating >= 5">
        <img src="./assets/img/5star.png">
      </span>
    </div>
  </mat-toolbar>
  <div id="img-wrapper">
    <img id="yelp-img" src="{{yelp.image_url}}">
  </div>
  <mat-toolbar id="foot-toolbar">
    <span>
      <form action="{{yelp.url}}">
        <button id="foot-button" mat-button>Website</button>
      </form>
    </span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="yelp.is_closed == true" id="foot-status-closed">Closed</span>
    <span *ngIf="yelp.is_closed == false" id="foot-status-open">Open</span>
  </mat-toolbar>
</div>
</div> -->


