<div class="example-container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input matInput id="title" name="title" ngModel placeholder="Title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput id="content" name="content" ngModel placeholder="Content"></textarea>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput id="severity" name="severity" ngModel placeholder="Severity">
    </mat-form-field>
    <button mat-button type="submit" class="button">Submit</button>
</form> 
</div>