<mat-list role="list">
    <mat-list-item role="listitem" routerLink="/news">
      
        <span>News</span>

        <i class="material-icons">navigate_next</i>
    
    </mat-list-item>
    <mat-divider></mat-divider>
    
    <mat-list-item role="listitem" routerLink="/about">

        <span>About</span>

        <i class="material-icons">navigate_next</i>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem" routerLink="/eligibility">
    
        <span>Eligibility</span>
    
      <i class="material-icons">navigate_next</i>
    
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem" routerLink="/schedule">
      
        <span>Full Schedule</span>
    
      <i class="material-icons">navigate_next</i>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem" routerLink="/contact">
    
        <span>Contact</span>
    
      <i class="material-icons">navigate_next</i>
    </mat-list-item>
    <mat-divider></mat-divider>
  
  
  <mat-list-item role="listitem" routerLink="/teamprofiles">
      
    <span>Team Profiles</span>

  <i class="material-icons">navigate_next</i>
</mat-list-item>
<mat-divider></mat-divider>
</mat-list>

  <router-outlet></router-outlet>
