<div id="instagram-feed">
    <mat-card class="mat-card">
        <img src="{{instaFeed.data[0].images.thumbnail.url}}">
            <p>
              Sample caption 1
            </p>
    </mat-card>

    <mat-card class="mat-card">
        <img src="{{instaFeed.data[1].images.thumbnail.url}}">
          <p>
            Sample caption 2
          </p>
    </mat-card>

    <mat-card class="mat-card">
        <img src="{{instaFeed.data[2].images.thumbnail.url}}">
          <p>
            Sample caption 3
          </p>
    </mat-card>

    <mat-card class="mat-card">
        <img src="{{instaFeed.data[3].images.thumbnail.url}}">
          <p>
            Sample caption 4
          </p>
    </mat-card>

    <mat-card class="mat-card">
        <img src="{{instaFeed.data[4].images.thumbnail.url}}">
          <p>
            Sample caption 5
          </p>
    </mat-card>

    <mat-card class="mat-card">
        <img src="{{instaFeed.data[5].images.thumbnail.url}}">
        <p>
            Sample caption 6
          </p>
    </mat-card>
</div>
<!-- *ngFor="let loop of [0,1,2,3,4]; let i = index" -->
