<div id="instagram-feed">
  <div class="instafeed-container">
    <!-- ng if video-->
      <video class="transparent-instafeed" src={{link}} autoplay loop></video>
    <!-- else image -->
    <p class="para">Austrailia ahead in team standings</p>
  </div>

  <div class="instafeed-container">
    <img class="transparent-instafeed" src="{{instaFeed.data[1].images.standard_resolution.url}}">
    <p class="para"><span>Austrailia ahead in team standings | 2</span></p>
  </div>

  <div class="instafeed-container">
    <img class="transparent-instafeed" src="{{instaFeed.data[2].images.standard_resolution.url}}">
    <p class="para"><span>Caption | 3</span></p>
  </div>

  <div class="instafeed-container">
    <img class="transparent-instafeed" src="{{instaFeed.data[3].images.standard_resolution.url}}">
    <p class="para"><span>Caption | 4</span></p>
  </div>

  <div class="instafeed-container">
    <img class="transparent-instafeed" src="{{instaFeed.data[4].images.standard_resolution.url}}">
    <p class="para"><span>Caption | 5</span></p>
  </div>

  <div class="instafeed-container">
    <img class="transparent-instafeed" src="{{instaFeed.data[5].images.standard_resolution.url}}">
    <p class="para"><span>Caption | 6</span></p>
  </div>
</div>
