#instagram-feed{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.instafeed-container{
	width: 100%;
}
.transparent-instafeed{
  height: 40vh;
  width: 90vw;
}
.para{
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 2%;
  margin-top: -10%;
  position: relative;
}
img{
  width: 90%;
}
video{
  object-fit: fill;
  position:relative;
  z-index:0;
}
.margin-bottom{
  margin-bottom: 42px;
}
