<div id="instagram-feed">
  
  <mat-card class="mat-card">
      <img src="{{instaFeed.data[0].images.thumbnail.url}}">
          <p class="widthoverride">
            Carton House
          </p>
  </mat-card>

  <mat-card class="mat-card">
      <img src="{{instaFeed.data[1].images.thumbnail.url}}">
        <p class="widthoverride">
        Visit Us 🌞⛳
        </p>
  </mat-card>

  <mat-card class="mat-card">
      <img src="{{instaFeed.data[2].images.thumbnail.url}}">
        <p>
          O'Meara Green
        </p>
  </mat-card>

  <mat-card class="mat-card">
      <img src="{{instaFeed.data[3].images.thumbnail.url}}">
        <p class="widthoverride">
          #bunkers
        </p>
  </mat-card>

  <mat-card class="mat-card">
      <img src="{{instaFeed.data[4].images.thumbnail.url}}">
        <p class="widthoverride">
          Caddie Services
        </p>
  </mat-card>

  <mat-card class="mat-card">
      <img src="{{instaFeed.data[5].images.thumbnail.url}}">
      <p class="widthoverride">
          #OldHouse
        </p>
  </mat-card>
</div> 
