#instagram-feed{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10px;
}
.mat-card{
  height: 100%;
  width: 33%;
  display: inline-block;
  margin: 10px;
}
img{
  width: 100%;
}
