#instagram-feed{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.instafeed-container{
	width: 100%;
}
.transparent-instafeed{
  height: 40vh;
  width: 90vw;
}
.para{
  color: white;
  position: relative;
  top: -17%;
  left: -90%;
}
img{
  width: 90%;
}

