
   <ng-container *ngFor="let news of news.update">
        <mat-expansion-panel  id="newsUpdate" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="box">
                <span>
                  <mat-icon id="newsSeverity{{news.severity}}">{{news.type}}</mat-icon>
                </span>
                <span>{{news.desc}}</span>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="box">
                <!-- <span>{{yelp.timeStamp}}</span> -->
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          {{news.content}}
        </mat-expansion-panel>
      </ng-container>