
   <div *ngFor="let news of news.update">
        <mat-expansion-panel  id="newsUpdate" >
          <mat-expansion-panel-header>
            <mat-panel-title id="newsMain">
              <div class="box">
                <span id="newsTimeStamp">{{news.timeStamp}}</span>
                <span><mat-icon id="newsSeverity{{news.severity}}">{{news.type}}</mat-icon></span>
                <span id="newsDesc">{{news.desc}}</span>
               
                
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{news.content}}
        </mat-expansion-panel>
      </div>