#live-main{
    margin-bottom: 25%;
}

#live-table{
font-size: 75%;
width: 100%;
border-collapse: collapse;

}

#live-table-header-title{
    height: 40px;
    text-align: center;
    
}

#live-table-header{
    text-align: center;
}

.player{
   
    text-align: center;
}

.hide-btn{
    min-width: 1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
   
  }

#live-search{
    width: 100%;
}

#live-search mat-form-field{
    width: 45%;
    font-size: 68%;
}

#total{
    color: red;
}

tbody:nth-child(even) {background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }