<div id="main" *ngIf="hideall">
  <div id="team-wrapper" *ngFor="let teams of data.event.tournament.teams.team; let x = index">
    <ng-container *ngIf="teams.name == profiles">
      <mat-toolbar id="team-header-toolbar">
        <span id="title">
          <span>
            <button class="hide-btn" (click)="hideall = !hideall">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </span>
          {{teams.name}}
          <button id="fav-button" mat-button>
            <mat-icon class="fav">star</mat-icon>
          </button>
        </span>
      </mat-toolbar>

      <div id="team-header">
        <span>
          <img id="team-image" src="./assets/img/team.jpg">
        </span>
        <mat-card id="score-Info">
          <table>
            <!-- <tr *ngFor="let teams of data.event.tournament.teams.team">
            
            <ng-container *ngIf="teams.name == profiles"> -->
            <tr>
              <th>Thru</th>test
              <th>Today</th>null
              <th>Total</th>test
              <th>Rank</th>test
              <!-- </ng-container> -->
            </tr>
          </table>
        </mat-card>
      </div>
      <div class="scroll-main">
        <div class="scroll-child">
          <!-- Round one -->
          <mat-card class="roundCard">
            <mat-card-title>
              <button class="hide-btn" (click)="hideRoundOne = !hideRoundOne">
                <mat-icon>expand_{{hideRoundOne ? 'less' : 'more'}}</mat-icon>
              </button>
              <span>
                Round One
              </span>
            </mat-card-title>
            <div id="team-body" *ngIf="hideRoundOne">
              <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{x}}{{profiles}} Round One
        </mat-panel-title>
      </mat-expansion-panel-header> -->

              <!-- Static table -->
              <div class="static-wrapper">
                <table class="static-table">
                  <tr>
                    <th>Hole</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player;">
                    <ng-container *ngIf="players.teamname == profiles">
                      {{players.firstname}} {{players.lastname}}
                    </ng-container>
                  </tr>
                </table>
              </div>

              <!-- Scroll table -->
              <div class="scrolling-wrapper">
                <table class="scroll-table">
                  <tr>
                    <!-- Header 1/2 -->
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player">

                    <td>{{players.round[0].score[0].strokes}}</td>
                    <td>{{players.round[0].score[1].strokes}}</td>
                    <td>{{players.round[0].score[2].strokes}}</td>
                    <td>{{players.round[0].score[3].strokes}}</td>
                    <td>{{players.round[0].score[4].strokes}}</td>
                    <td>{{players.round[0].score[5].strokes}}</td>
                    <td>{{players.round[0].score[6].strokes}}</td>
                    <td>{{players.round[0].score[7].strokes}}</td>
                    <td>{{players.round[0].score[8].strokes}}</td>
                    <td>{{players.round[0].score[8].strokes}}</td>
                    <td>{{players.round[0].score[9].strokes}}</td>
                    <td>{{players.round[0].score[10].strokes}}</td>
                    <td>{{players.round[0].score[11].strokes}}</td>
                    <td>{{players.round[0].score[12].strokes}}</td>
                    <td>{{players.round[0].score[13].strokes}}</td>
                    <td>{{players.round[0].score[14].strokes}}</td>
                    <td>{{players.round[0].score[15].strokes}}</td>
                    <td>{{players.round[0].score[16].strokes}}</td>
                    <td>{{players.round[0].score[17].strokes}}</td>

                  </tr>

                </table>
              </div>

              <!-- </mat-expansion-panel> -->
            </div>
          </mat-card>

          <!-- Round Two -->
          <mat-card class="roundCard">
            <mat-card-title>
              <button class="hide-btn" (click)="hideRoundTwo = !hideRoundTwo">
                <mat-icon>expand_{{hideRoundTwo ? 'less' : 'more'}}</mat-icon>
              </button>
              <span>
                Round Two
              </span>
            </mat-card-title>
            <div id="team-body" *ngIf="hideRoundTwo">
              <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{x}}{{profiles}} Round One
        </mat-panel-title>
      </mat-expansion-panel-header> -->

              <!-- Static table -->
              <div class="static-wrapper">
                <table class="static-table">
                  <tr>
                    <th>Hole</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player;">
                    <ng-container *ngIf="players.teamname == profiles">
                      {{players.firstname}} {{players.lastname}}
                    </ng-container>
                  </tr>
                </table>
              </div>

              <!-- Scroll table -->
              <div class="scrolling-wrapper">
                <table class="scroll-table">
                  <tr>
                    <!-- Header 1/2 -->
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>

                  <tr *ngFor="let players of data.event.tournament.players.player">

                    <td>{{players.round[1].score[0].strokes}}</td>
                    <td>{{players.round[1].score[1].strokes}}</td>
                    <td>{{players.round[1].score[2].strokes}}</td>
                    <td>{{players.round[1].score[3].strokes}}</td>
                    <td>{{players.round[1].score[4].strokes}}</td>
                    <td>{{players.round[1].score[5].strokes}}</td>
                    <td>{{players.round[1].score[6].strokes}}</td>
                    <td>{{players.round[1].score[7].strokes}}</td>
                    <td>{{players.round[1].score[8].strokes}}</td>
                    <td>{{players.round[1].score[8].strokes}}</td>
                    <td>{{players.round[1].score[9].strokes}}</td>
                    <td>{{players.round[1].score[10].strokes}}</td>
                    <td>{{players.round[1].score[11].strokes}}</td>
                    <td>{{players.round[1].score[12].strokes}}</td>
                    <td>{{players.round[1].score[13].strokes}}</td>
                    <td>{{players.round[1].score[14].strokes}}</td>
                    <td>{{players.round[1].score[15].strokes}}</td>
                    <td>{{players.round[1].score[16].strokes}}</td>
                    <td>{{players.round[1].score[17].strokes}}</td>

                  </tr>
                </table>
              </div>

              <!-- </mat-expansion-panel> -->
            </div>
          </mat-card>

          <!-- Round three -->
          <mat-card class="roundCard">
            <mat-card-title>
              <button class="hide-btn" (click)="hideRondThree = !hideRondThree">
                <mat-icon>expand_{{hideRondThree ? 'less' : 'more'}}</mat-icon>
              </button>
              <span>
                Round Three
              </span>
            </mat-card-title>
            <div id="team-body" *ngIf="hideRondThree">
              <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{x}}{{profiles}} Round One
          </mat-panel-title>
        </mat-expansion-panel-header> -->

              <!-- Static table -->
              <div class="static-wrapper">
                <table class="static-table">
                  <tr>
                    <th>Hole</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player;">
                    <ng-container *ngIf="players.teamname == profiles">
                      {{players.firstname}} {{players.lastname}}
                    </ng-container>
                  </tr>
                </table>
              </div>

              <!-- Scroll table -->
              <div class="scrolling-wrapper">
                <table class="scroll-table">
                  <tr>
                    <!-- Header 1/2 -->
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                  <!-- <tr *ngFor="let players of data.event.tournament.players.player"> -->

                  <tr *ngFor="let players of data.event.tournament.players.player">

                    <td>{{players.round[2].score[0].strokes}}</td>
                    <td>{{players.round[2].score[1].strokes}}</td>
                    <td>{{players.round[2].score[2].strokes}}</td>
                    <td>{{players.round[2].score[3].strokes}}</td>
                    <td>{{players.round[2].score[4].strokes}}</td>
                    <td>{{players.round[2].score[5].strokes}}</td>
                    <td>{{players.round[2].score[6].strokes}}</td>
                    <td>{{players.round[2].score[7].strokes}}</td>
                    <td>{{players.round[2].score[8].strokes}}</td>
                    <td>{{players.round[2].score[8].strokes}}</td>
                    <td>{{players.round[2].score[9].strokes}}</td>
                    <td>{{players.round[2].score[10].strokes}}</td>
                    <td>{{players.round[2].score[11].strokes}}</td>
                    <td>{{players.round[2].score[12].strokes}}</td>
                    <td>{{players.round[2].score[13].strokes}}</td>
                    <td>{{players.round[2].score[14].strokes}}</td>
                    <td>{{players.round[2].score[15].strokes}}</td>
                    <td>{{players.round[2].score[16].strokes}}</td>
                    <td>{{players.round[2].score[17].strokes}}</td>

                  </tr>


                </table>
              </div>

              <!-- </mat-expansion-panel> -->
            </div>
          </mat-card>

          <!-- Round Four -->
          <mat-card class="roundCard">
            <mat-card-title>
              <button class="hide-btn" (click)="hideRoundFour = !hideRoundFour">
                <mat-icon>expand_{{hideRoundFour ? 'less' : 'more'}}</mat-icon>
              </button>
              <span>
                Round Four
              </span>
            </mat-card-title>
            <div id="team-body" *ngIf="hideRoundFour">
              <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{x}}{{profiles}} Round One
          </mat-panel-title>
        </mat-expansion-panel-header> -->

              <!-- Static table -->
              <div class="static-wrapper">
                <table class="static-table">
                  <tr>
                    <th>Hole</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player;">
                    <ng-container *ngIf="players.teamname == profiles">
                      {{players.firstname}} {{players.lastname}}
                    </ng-container>
                  </tr>
                </table>
              </div>

              <!-- Scroll table -->
              <div class="scrolling-wrapper">
                <table class="scroll-table">
                  <tr>
                    <!-- Header 1/2 -->
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>Out</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>In</th>
                    <th>Total</th>
                  </tr>
                  <tr *ngFor="let players of data.event.tournament.players.player">
                    <td>{{players.round[3].score[0].strokes}}</td>
                    <td>{{players.round[3].score[1].strokes}}</td>
                    <td>{{players.round[3].score[2].strokes}}</td>
                    <td>{{players.round[3].score[3].strokes}}</td>
                    <td>{{players.round[3].score[4].strokes}}</td>
                    <td>{{players.round[3].score[5].strokes}}</td>
                    <td>{{players.round[3].score[6].strokes}}</td>
                    <td>{{players.round[3].score[7].strokes}}</td>
                    <td>{{players.round[3].score[8].strokes}}</td>
                    <td>{{players.round[3].score[8].strokes}}</td>
                    <td>{{players.round[3].score[9].strokes}}</td>
                    <td>{{players.round[3].score[10].strokes}}</td>
                    <td>{{players.round[3].score[11].strokes}}</td>
                    <td>{{players.round[3].score[12].strokes}}</td>
                    <td>{{players.round[3].score[13].strokes}}</td>
                    <td>{{players.round[3].score[14].strokes}}</td>
                    <td>{{players.round[3].score[15].strokes}}</td>
                    <td>{{players.round[3].score[16].strokes}}</td>
                    <td>{{players.round[3].score[17].strokes}}</td>

                  </tr>

                </table>
              </div>

              <!-- </mat-expansion-panel> -->
            </div>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- Par  -->

<!-- Player1  -->

<!-- <ng-container *ngFor="let players of data.event.tournament.players.player;">
            <tr *ngIf="profiles == players.teamname" >
              <tr>
              <td>{{players.round[0].score[0].strokes}}</td>
              <td>{{players.round[0].score[1].strokes}}</td>
              <td>{{(players.round[0].score[0].strokes * 1) + (players.round[0].score[1].strokes * 1) + (players.round[0].score[2].strokes * 1) + (players.round[0].score[3].strokes * 1) + (players.round[0].score[4].strokes * 1) + (players.round[0].score[5].strokes * 1) + (players.round[0].score[6].strokes * 1) + (players.round[0].score[7].strokes * 1) + (players.round[0].score[8].strokes * 1)}}</td>
              <td>{{players.round[0].score[9].strokes}}</td>
              <td>{{players.round[0].score[10].strokes}}</td>
              <td>{{players.round[0].score[11].strokes}}</td>
              <td>{{players.round[0].score[12].strokes}}</td>
              <td>{{players.round[0].score[13].strokes}}</td>
              <td>{{players.round[0].score[14].strokes}}</td>
              <td>{{players.round[0].score[15].strokes}}</td>
              <td>{{players.round[0].score[16].strokes}}</td>
              <td>{{players.round[0].score[17].strokes}}</td>
              <td>{{(players.round[0].score[9].strokes * 1) + (players.round[0].score[10].strokes * 1) + (players.round[0].score[11].strokes * 1) + 
                  (players.round[0].score[12].strokes * 1) + (players.round[0].score[13].strokes * 1) + (players.round[0].score[14].strokes * 1) + 
                  (players.round[0].score[15].strokes * 1) + (players.round[0].score[16].strokes * 1) + (players.round[0].score[17].strokes * 1)}}</td>
              <td>{{(players.round[0].score[9].strokes * 1) + (players.round[0].score[10].strokes * 1) + (players.round[0].score[11].strokes * 1) + 
                  (players.round[0].score[12].strokes * 1) + (players.round[0].score[13].strokes * 1) + (players.round[0].score[14].strokes * 1) + 
                  (players.round[0].score[15].strokes * 1) + (players.round[0].score[16].strokes * 1) + (players.round[0].score[17].strokes * 1) + 
                  (players.round[0].score[0].strokes * 1) + (players.round[0].score[1].strokes * 1) + (players.round[0].score[2].strokes * 1) +  
                  (players.round[0].score[3].strokes * 1) + (players.round[0].score[4].strokes * 1) + (players.round[0].score[5].strokes * 1) + 
                  (players.round[0].score[6].strokes * 1) + (players.round[0].score[7].strokes * 1) + (players.round[0].score[8].strokes * 1)}}</td>
                </tr> -->

<!-- Round  -->

<!-- Score Against Par  -->
<!--  
              </table>
    </mat-expansion-panel>
  </div>
</div> -->
<!-- 
<mat-expansion-panel [disabled]="isDisabled">
    <mat-expansion-panel-header>
      This is the expansion title
    </mat-expansion-panel-header>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>

<table>
    <thead>
      <th >Hole</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>   
      <th>Out</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>In</th>
      <th>Total</th>
    </thead>
    <tbody>
      <tr  *ngFor="let players of data.event.tournament.players.player">
        <ng-container *ngIf="players.teamname == profiles">
          <td>{{players.firstname}} {{players.lastname}}</td>
           <td *ngFor="let loop of [0,1,2,3,4,5,6,7,8]">{{players.round[0].score[loop].strokes}}</td>
          <td>{{(players.round[0].score[0].strokes * 1) + (players.round[0].score[1].strokes * 1) + (players.round[0].score[2].strokes * 1) + (players.round[0].score[3].strokes * 1) + (players.round[0].score[4].strokes * 1) + (players.round[0].score[5].strokes * 1) + (players.round[0].score[6].strokes * 1) + (players.round[0].score[7].strokes * 1) + (players.round[0].score[8].strokes * 1)}}</td>
          <td *ngFor="let loop2 of [9,10,11,12,13,14,15,16,17]">{{players.round[0].score[loop2].strokes}}</td>
          <td>{{(players.round[0].score[9].strokes * 1) + (players.round[0].score[10].strokes * 1) + (players.round[0].score[11].strokes * 1) + (players.round[0].score[12].strokes * 1) + (players.round[0].score[13].strokes * 1) + (players.round[0].score[14].strokes * 1) + (players.round[0].score[15].strokes * 1) + (players.round[0].score[16].strokes * 1) + (players.round[0].score[17].strokes * 1)}}</td>
          <td>{{(players.round[0].score[0].strokes * 1) + (players.round[0].score[1].strokes * 1) + (players.round[0].score[2].strokes * 1) + (players.round[0].score[3].strokes * 1) + (players.round[0].score[4].strokes * 1) + (players.round[0].score[5].strokes * 1) + (players.round[0].score[6].strokes * 1) + (players.round[0].score[7].strokes * 1) + (players.round[0].score[8].strokes * 1) + (players.round[0].score[9].strokes * 1) + (players.round[0].score[10].strokes * 1) + (players.round[0].score[11].strokes * 1) + (players.round[0].score[12].strokes * 1) + (players.round[0].score[13].strokes * 1) + (players.round[0].score[14].strokes * 1) + (players.round[0].score[15].strokes * 1) + (players.round[0].score[16].strokes * 1) + (players.round[0].score[17].strokes * 1)}} </td> -->
<!-- </ng-container>
      </tr>
    </tbody>
  </table>
</mat-expansion-panel> -->

<!-- <div *ngFor="let teaminfo of data.event.tournament.teams.team"></div>
    <div *ngFor="let playerinfo of data.event.tournament.players.player">
      
        
        {{playerinfo.firstname}} {{playerinfo.lastname}} 
        
     
    </div>
    
    
   
</div> -->



      
     
 
  




<div id="live-main" *ngIf="!hideall">
    <!-- <table matSort (matSortChange)="sortData($event)">
        <tr>
         
          <th mat-sort-header="position">Pos</th>
          <th>Name</th>
        </tr>
      
        <tr *ngFor="let players of sortedData">
          <td>{{players.position}}</td>
          <td>{{players.name}}</td>
          <td>{{players.fat}}</td>
          
        </tr>
      </table>
   -->
   
 
  <mat-toolbar id="live-search">
    <mat-form-field>
      <input type="text" matInput placeholder="search" #box (keyup)="0">
    </mat-form-field>
    <span class="example-fill-remaining-space"></span>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <table id="live-table">
    <thead>
      <tr id="live-table-header-title">
        <th></th>
        <th>Pos</th>
        <th>Team</th>
        <th>Hole</th>
        <th>Par</th>
        <th>R1</th>
        <th>R2</th>
        <th>R3</th>
        <th>R4</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="player-tbody" *ngFor="let teamdata of data.event.tournament.teams.team; let x = index;" class="tbody ">
      <ng-container *ngIf="teamdata.name == box.value || box.value == ''">
      <tr id="live-table-header">
        <td>
          <button class="hide-btn" (click)="hideStuff[x] = !hideStuff[x]">
            <mat-icon>expand_{{hideStuff[x] ? 'less' : 'more'}}</mat-icon>
          </button>
        </td>
        <td>{{teamdata.totals.position}}</td>
        <td>
          <button class="" (click)="hidealll = !hideall; profiles = (teamdata.name) ;" mat-button>
            <img src="./assets/img/{{teamdata.name}}.png" title="{{teamdata.name}}">
          </button>
        </td>
        <td>null</td>
        <ng-container *ngIf="teamdata.totals.totaltopar[0] == '+'">
          <td id="parblue">{{teamdata.totals.totaltopar}}</td>
        </ng-container>
        <ng-container *ngIf="teamdata.totals.totaltopar[0] == '-'">
          <td id="parred">{{teamdata.totals.totaltopar}}</td>
        </ng-container>
        <ng-container *ngIf="teamdata.totals.totaltopar[0] != '-' && teamdata.totals.totaltopar[0] != '+'">
          <td>{{teamdata.totals.totaltopar}}</td>
        </ng-container>
        <td>{{teamdata.round[0].strokes}}</td>
        <td>{{teamdata.round[1].strokes}}</td>
        <td>{{teamdata.round[2].strokes}}</td>
        <td>{{teamdata.round[3].strokes}}</td>
        <td>
          <span id="total">{{(teamdata.round[0].strokes * 1) + (teamdata.round[1].strokes * 1) + (teamdata.round[2].strokes * 1) + (teamdata.round[3].strokes
            * 1)}}</span>
        </td>
      </tr>
      <ng-container *ngIf="hideStuff[x]">
        <tr class="player" *ngFor="let players of data.event.tournament.players.player">
          <ng-container *ngIf="teamdata.name == players.teamname">
            <td></td>
            <td>{{players.totals.position}}</td>
            <td>{{players.firstname}} {{players.lastname}}</td>
            <td></td>
            <ng-container *ngIf="players.totals.totaltopar[0] == '+'">
              <td id="parblue">{{players.totals.totaltopar}}</td>
            </ng-container>
            <ng-container *ngIf="players.totals.totaltopar[0] == '-'">
              <td id="parred">{{players.totals.totaltopar}}</td>
            </ng-container>
            <!-- <td *ngFor="let loop of [0,1,2,4,5,6,7,8]">{{players.round[0].score[loop].strokes}}</td> -->
            <td>{{players.round[0].strokes}}</td>
            <td>{{players.round[1].strokes}}</td>
            <td>{{players.round[2].strokes}}</td>
            <td>{{players.round[3].strokes}}</td>
            <td>{{(players.round[0].strokes * 1) + (players.round[1].strokes * 1) + (players.round[2].strokes * 1) + (players.round[3].strokes
              * 1)}}</td>

          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
  <!-- *ngFor="let team of data.event.tournament.players.player -->

  <!--  -->

  <!--player 1-->
  <mat-divider></mat-divider>
</div>