<div id="nav-wrapper">
<mat-toolbar class="app-toolbar">
  <button type="button" mat-button (click)="sidenav.open()">
    <mat-icon>list</mat-icon>
  </button>
  <button type="button" mat-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
  <button type="button" mat-button routerLink="liveScore">
    <mat-icon>reorder</mat-icon>
  </button>
  <button type="button" mat-button routerLink="geoLocation">
    <mat-icon>place</mat-icon>
  </button>
  <button type="button" mat-button routerLink="transport">
    <mat-icon>event</mat-icon>
  </button>
  <button type="button" mat-button routerLink="news">
      <mat-icon>announcement</mat-icon>
  </button>
</mat-toolbar>
<div id="mainWrapper">
<router-outlet></router-outlet>
</div>
</div>