<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Eligibility</mat-card-title>
      <mat-card-subtitle>World Amatuer Team Championships</mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" src="assets/img/about.jpg" alt="Photo of a Shiba Inu" >
    <mat-card-content class="mat-card-content">
      <h3>Eligibility</h3>
      <p>
          IGF National Federation Members may enter one women’s team and one men’s team. Players must be amateur golfers under the Rules of Amateur Status of the R&A and the United States Golf Association and nationals of the countries they represent, as defined in the IGF’s Nationality Policy.
      </p>
    </mat-card-content>
  </mat-card>
