.mat-button{
  min-width: 1%;
}

.app-toolbar{
    background-color: #26A65B;
    width: 100%;
    
         text-align: center;
         position: fixed; 
         bottom: 0;
         align-items: center;
         justify-content: center;
         z-index: 1;

  }

.header-toolbar {
    background-color: #26A65B;
    width: 100%;
   

  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }