<div id="nav-wrapper">
<mat-toolbar class="app-toolbar">

  <button type="button" mat-button routerLink="">
      <i class="material-icons">home</i>
  </button>

  <button type="button" mat-button routerLink="transport">
      <i class="material-icons">directions_bus</i>
  </button>

  <button type="button" mat-button routerLink="live-score">
      <i class="material-icons">event_note</i>
  </button>

  <button type="button" mat-button routerLink="geo-location">
      <i class="material-icons">location_on</i>
  </button>

  <button type="button" mat-button routerLink="add-info">
      <i class="material-icons">info_outline</i>
  </button>

</mat-toolbar>

<div id="mainWrapper">
    <router-outlet></router-outlet>
</div>

</div>