<div id="fav-team-wrapper">
  <mat-toolbar>
    <span>Favourite Teams</span>
    <span><button mat-button><mat-icon>alarm</mat-icon></button></span>
  </mat-toolbar>
  <div id="fav-team-header">
  </div>
  <div id="fav-team-body">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Australia
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-team-profiles></app-team-profiles>

    </mat-expansion-panel>
  </div>
  <div id="fav-team-footer">
  </div>
</div>